.logo-link img {
  border-radius: 5px;
}

.icon-status-info:after {
  display: none;
}

.unread::after {
  display: block !important;
}

.nk-ibx-list {
  min-height: 80vh;
}

.nk-ibx {
  min-height: 40vh;
}

@media (min-width: 576px) {
  .tweak {
    margin-left: 56px;
  }
}

#btnDeposit1 {
  display: none;
}

.btn-green {
  background-color: #16a085 !important;
  color: #fff;
}

.btnDeposit {
  border: 2px solid #16a085;
}

#hide {
  display: none !important;
}