    <!-- footer @s -->
    <div class="nk-footer nk-footer-fluid bg-lighter">
        <div class="container-xl wide-lg">
            <div class="nk-footer-wrap">
                <div class="nk-footer-copyright"> &copy; 2023 <a href=<%= website %> >PayfoxTrade</a>
                </div>
                <div class="nk-footer-links">
                    <ul class="nav nav-sm">
                        <li class="nav-item dropup">
                            <a href="#" class="dropdown-toggle dropdown-indicator has-indicator nav-link text-base" data-bs-toggle="dropdown" data-offset="0,10"><span>English</span></a>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                                <ul class="language-list">
                                    <li>
                                        <a href="#" class="language-item">
                                            <span class="language-name">English</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="language-item">
                                            <span class="language-name">Español</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="language-item">
                                            <span class="language-name">Français</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="language-item">
                                            <span class="language-name">Türkçe</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="modal" href="#region" class="nav-link"><em class="icon ni ni-globe"></em><span class="ms-1">Select Region</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- footer @e -->
</div>
<!-- wrap @e -->
</div>
<!-- app-root @e -->
<!-- select region modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="region">
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
        <div class="modal-body modal-body-md">
            <h5 class="title mb-4">Select Your Country</h5>
            <div class="nk-country-region">
                <ul class="country-list text-center gy-2">
                    <li>
                        <a href="#" class="country-item">
                            <img src="dashboard/images/flags/arg.png" alt="" class="country-flag">
                            <span class="country-name">Argentina</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="country-item">
                            <img src="dashboard/images/flags/aus.png" alt="" class="country-flag">
                            <span class="country-name">Australia</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="country-item">
                            <img src="dashboard/images/flags/bangladesh.png" alt="" class="country-flag">
                            <span class="country-name">Bangladesh</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="country-item">
                            <img src="dashboard/images/flags/canada.png" alt="" class="country-flag">
                            <span class="country-name">Canada <small>(English)</small></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="country-item">
                            <img src="dashboard/images/flags/china.png" alt="" class="country-flag">
                            <span class="country-name">Centrafricaine</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="country-item">
                            <img src="dashboard/images/flags/china.png" alt="" class="country-flag">
                            <span class="country-name">China</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="country-item">
                            <img src="dashboard/images/flags/french.png" alt="" class="country-flag">
                            <span class="country-name">France</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="country-item">
                            <img src="dashboard/images/flags/germany.png" alt="" class="country-flag">
                            <span class="country-name">Germany</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="country-item">
                            <img src="dashboard/images/flags/iran.png" alt="" class="country-flag">
                            <span class="country-name">Iran</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="country-item">
                            <img src="dashboard/images/flags/italy.png" alt="" class="country-flag">
                            <span class="country-name">Italy</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="country-item">
                            <img src="dashboard/images/flags/mexico.png" alt="" class="country-flag">
                            <span class="country-name">México</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="country-item">
                            <img src="dashboard/images/flags/philipine.png" alt="" class="country-flag">
                            <span class="country-name">Philippines</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="country-item">
                            <img src="dashboard/images/flags/portugal.png" alt="" class="country-flag">
                            <span class="country-name">Portugal</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="country-item">
                            <img src="dashboard/images/flags/s-africa.png" alt="" class="country-flag">
                            <span class="country-name">South Africa</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="country-item">
                            <img src="dashboard/images/flags/spanish.png" alt="" class="country-flag">
                            <span class="country-name">Spain</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="country-item">
                            <img src="dashboard/images/flags/switzerland.png" alt="" class="country-flag">
                            <span class="country-name">Switzerland</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="country-item">
                            <img src="dashboard/images/flags/uk.png" alt="" class="country-flag">
                            <span class="country-name">United Kingdom</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="country-item">
                            <img src="dashboard/images/flags/english.png" alt="" class="country-flag">
                            <span class="country-name">United State</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- .modal-content -->
</div><!-- .modla-dialog -->
</div><!-- .modal -->

 <!-- @@ Invest Modal @e -->
 <div class="modal fade" tabindex="-1" id="invest-plan">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body modal-body-md text-center">
                <div class="nk-modal">
                    <h4 class="nk-modal-title">Confirm Your Payment</h4>
                    <div class="nk-modal-text">
                        <p>To confirm your payment of <strong>$251.25 (0.0054 BTC)</strong> on this order #93033939 using your <strong>NioWallet</strong>. Please enter your Wallet Pin code in order complete the payment or cancel.</p>
                    </div>
                    <div class="nk-modal-form">
                        <div class="form-group">
                            <input type="password" class="form-control form-control-password-big text-center">
                        </div>
                    </div>
                    <div class="nk-modal-action">
                        <a class="btn btn-lg btn-mw btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" href="#confirm-invest">Confirm Payment</a>
                        <div class="sub-text sub-text-alt mt-3 mb-4">This transaction will appear on your wallet statement as Invest * SILVER.</div>
                        <a href="#" class="link link-soft" data-bs-dismiss="modal">Cancel and return</a>
                    </div>
                </div>
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div><!-- .modal -->

<!-- @@ Deposit Modal @e -->
<div class="modal fade" tabindex="-1" id="confirm-deposit-1">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-body modal-body-md text-center">
                <div class="nk-modal">
                    <h4 class="nk-modal-title">Confirm Your Deposit</h4>
                    <div class="nk-modal-text">
                        <p style="color:red ;">Make sure you have transferred the BTC to the provided BTC wallet before proceeding with this step. To confirm your deposit of <strong><span id="deposit-amt-conf-f2"> BTC</span></strong>, please enter your password.</p>
                    </div>
                    <div class="nk-modal-form">
                        <div class="form-group">
                            <input id="deposit-password" type="password" class="form-control form-control-password-big text-center">
                        </div>
                    </div>
                    <div class="nk-modal-action">
                        <button class="btn btn-lg btn-mw btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" href="#confirm-deposit-2" id="btn-deposit" disabled>Confirm Deposit</button>
                        <div class="sub-text sub-text-alt mt-3 mb-4">Your deposit will be processed within 2 - 4 hours after payment.</div>
                        <a href="#" class="link link-soft" data-bs-dismiss="modal">Cancel and return</a>
                    </div>
                </div>
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div><!-- .modal -->
<!-- @@ Confirm Deposit Modal @e -->
<div class="modal fade" tabindex="-1" id="confirm-deposit-2">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-lg text-center">
                <div class="nk-modal">
                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-check bg-success"></em>
                    <h4 class="nk-modal-title">Your request to confirm your deposit is being processed!</h4>
                    <div class="nk-modal-text">
                        <p class="sub-text">You have requested for deposit confirmation of <strong><span id="deposit-conf-f-amt">50BTC</span></strong>. You will be credited once your transfer has been confirmed.</p>
                    </div>
                    <!-- <div class="nk-modal-action-lg">
                        <ul class="btn-group flex-wrap justify-center g-4">
                            <li><a href="/invest" class="btn btn-lg btn-mw btn-primary">More Invest</a></li>
                            <li><a href="/plan-details" class="btn btn-lg btn-mw btn-dim btn-primary"><em class="icon ni ni-reports"></em><span>See the plan</span></a></li>
                        </ul>
                    </div> -->
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer bg-lighter">
                <div class="text-center w-100">
                    <p>Earn up to 10% deposit for each friend your refer! <a href="/#refUrl">Invite friends</a></p>
                </div>
            </div>
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div><!-- .modal -->

<!-- @@ Confirm Invest Modal @e -->
<div class="modal fade" tabindex="-1" id="confirm-invest">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-lg text-center">
                <div class="nk-modal">
                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-check bg-success"></em>
                    <h4 class="nk-modal-title">Successfully created investment !</h4>
                    <div class="nk-modal-text">
                        <p class="sub-text">Your investment plan has successfully been created.</p>
                    </div>
                    <div class="nk-modal-action-lg">
                        <ul class="btn-group flex-wrap justify-center g-4">
                            <li><a href="/invest" class="btn btn-lg btn-mw btn-primary">More Invest</a></li>
                            <li><a href="/plans" class="btn btn-lg btn-mw btn-dim btn-primary"><em class="icon ni ni-reports"></em><span>See investment plans</span></a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer bg-lighter">
                <div class="text-center w-100">
                    <p>Earn up to 10% deposit for each friend your refer! <a href="/#refUrl">Invite friends</a></p>

                </div>
            </div>
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div><!-- .modal -->

<!-- @@ Confirm Withdrawal Modal @e -->
<div class="modal fade" tabindex="-1" id="confirm-withdrawal">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-lg text-center">
                <div class="nk-modal">
                    <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-check bg-success"></em>
                    <h4 class="nk-modal-title">Successfully created withdrawal order !</h4>
                    <div class="nk-modal-text">
                        <p class="sub-text">Your request for withdrawal has been created and would be approved in 1 - 2 hours.</p>
                    </div>
                    <!-- <div class="nk-modal-action-lg">
                        <ul class="btn-group flex-wrap justify-center g-4">
                            <li><a href="/invest" class="btn btn-lg btn-mw btn-primary">More Invest</a></li>
                            <li><a href="/plans" class="btn btn-lg btn-mw btn-dim btn-primary"><em class="icon ni ni-reports"></em><span>See investment plans</span></a></li>
                        </ul>
                    </div> -->
                </div>
            </div><!-- .modal-body -->
            <div class="modal-footer bg-lighter">
                <div class="text-center w-100">
                    <p>Earn up to 10% deposit for each friend your refer! <a href="/#refUrl">Invite friends</a></p>
                 
                </div>
            </div>
        </div><!-- .modal-content -->
    </div><!-- .modla-dialog -->
</div><!-- .modal -->

<!-- @@ Profile Edit Modal @e -->
<div class="modal fade" role="dialog" id="profile-edit">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-lg">
                <h5 class="title">Update Profile</h5>
                <ul class="nk-nav nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#personal">Personal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#address">Address</a>
                    </li>
                </ul><!-- .nav-tabs -->
                <div class="tab-content">
                    <div class="tab-pane active" id="personal">
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="full-name">Full Name</label>
                                    <input type="text" class="form-control form-control-lg" id="full-name" value="Abu Bin Ishtiyak" placeholder="Enter Full name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="display-name">Display Name</label>
                                    <input type="text" class="form-control form-control-lg" id="display-name" value="Ishtiyak" placeholder="Enter display name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="phone-no">Phone Number</label>
                                    <input type="text" class="form-control form-control-lg" id="phone-no" value="+880" placeholder="Phone Number">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="birth-day">Date of Birth</label>
                                    <input type="text" class="form-control form-control-lg date-picker" id="birth-day" placeholder="Enter your name">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="latest-sale">
                                    <label class="custom-control-label" for="latest-sale">Use full name to display </label>
                                </div>
                            </div>
                            <div class="col-12">
                                <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                    <li>
                                        <a href="#" class="btn btn-lg btn-primary" data-bs-dismiss="modal" >Update Profile</a>
                                    </li>
                                    <li>
                                        <a href="#" data-bs-dismiss="modal" class="link link-light">Cancel</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .tab-pane -->
                    <div class="tab-pane" id="address">
                        <div class="row gy-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="address-l1">Address Line 1</label>
                                    <input type="text" class="form-control form-control-lg" id="address-l1" value="2337 Kildeer Drive">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="address-l2">Address Line 2</label>
                                    <input type="text" class="form-control form-control-lg" id="address-l2" value="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="address-st">State</label>
                                    <input type="text" class="form-control form-control-lg" id="address-st" value="Kentucky">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label" for="address-county">Country</label>
                                    <select class="form-select js-select2" id="address-county" data-ui="lg">
                                        <option>Canada</option>
                                        <option>United State</option>
                                        <option>United Kindom</option>
                                        <option>Australia</option>
                                        <option>India</option>
                                        <option>Bangladesh</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <ul class="align-center flex-wrap flex-sm-nowrap gx-4 gy-2">
                                    <li>
                                        <a href="#" class="btn btn-lg btn-primary">Update Address</a>
                                    </li>
                                    <li>
                                        <a href="#" data-bs-dismiss="modal" class="link link-light">Cancel</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .tab-pane -->
                </div><!-- .tab-content -->
            </div><!-- .modal-body -->
        </div><!-- .modal-content -->
    </div><!-- .modal-dialog -->
</div><!-- .modal -->
<!-- JavaScript -->

<% if (page_name === "deposit") { %>
<script src="dashboard/js/deposit.js"></script>
<% } %>

<% if (page_name === "invest-form") { %>
<script src="dashboard/js/investment.js"></script>
<% } %>
<% if (page_name === "plan-details") { %>
    <script src="dashboard/js/plan-details.js"></script>
    <% } %>

<% if (page_name === "withdraw") { %>
    <script src="dashboard/js/withdrawal.js"></script>
<% } %>

<% if (page_name === "admin") { %>
    <script src="dashboard/js/admin.js"></script>
<% } %>
<script src="dashboard/js/bundle.js?ver=3.0.3"></script>
<script src="dashboard/js/scripts.js?ver=3.0.3"></script>
<script src="dashboard/js/charts/chart-invest.js?ver=3.0.3"></script>
<script src="dashboard/js/script.js" type="text/javascript"></script>

<!-- <script src="dashboard/js/apps/inbox.js?ver=3.0.3"></script> -->
<script src="dashboard/js/libs/tagify.js?ver=3.0.3"></script>
<!-- <script src="/socket.io/socket.io.js"></script>
<script src="dashboard/js/socket.js"></script> -->
</body>

</html>