<!DOCTYPE html>
<html class="scheme_original" lang="en-US">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <title>PayfoxTrade</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta content="telephone=no" name="format-detection">

    <link
        href="https://fonts.googleapis.com/css?family=Poppins:300,300italic,400,400italic,500,500italic,600,600italic,700,700italic%7CLora:300,300italic,400,400italic,500,500italic,600,600italic,700,700italic&amp;subset=latin,latin-ext&amp;"
        media="all" property="stylesheet" rel="stylesheet" type="text/css">
    <link href='css/fontello/css/fontello.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='js/vendor/instagram/sb-instagram.min.css' media='all' property="stylesheet" rel='stylesheet'
        type='text/css'>
    <link href='js/vendor/essgrid/ess-grid.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='js/vendor/revslider/rev-slider.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='js/vendor/woocommerce/woocommerce.css' media='all' property="stylesheet" rel='stylesheet'
        type='text/css'>
    <link href='css/style.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='css/colors.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='js/vendor/woocommerce/woocommerce-layout.css' media='all' property="stylesheet" rel='stylesheet'
        type='text/css'>
    <link href='js/vendor/woocommerce/plugin.woocommerce.css' media='all' property="stylesheet" rel='stylesheet'
        type='text/css'>
    <link href='css/animation.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='css/shortcodes.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='css/messages.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='js/vendor/magnific-popup/magnific-popup.css' media='all' property="stylesheet" rel='stylesheet'
        type='text/css'>
    <link href='js/vendor/swiper/swiper.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='css/responsive.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href='css/custom.css' media='all' property="stylesheet" rel='stylesheet' type='text/css'>
    <link href="images/favi.png" rel="icon" sizes="192x192">

    <!-- <script type="text/javascript"
        src="https://payfoxtrade.com/translate.google.com/translate_a/elementa0d8.js?cb=googleTranslateElementInit"></script> -->
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
        }
    </script>


</head>

<body
    class="body_style_wide body_filled scheme_original top_panel_show top_panel_over sidebar_hide sidebar_outer_show sidebar_outer_yes">
    <div id="page_preloader"></div>
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>

            <header class="top_panel_wrap top_panel_style_3 scheme_original">
                <div class="top_panel_wrap_inner top_panel_inner_style_3 top_panel_position_over">
                    <div class="top_panel_top">
                        <div class="content_wrap">
                            <div class="top_panel_top_contact_area icon-location-light">
                                7941 Henri-Bourassa West, Montreal Quebec H4S 1P7, Canada
                            </div>
                            <div class="top_panel_top_open_hours icon-clock-light">
                                Mon - Fri : 09:00 - 17:00
                            </div>
                            <div class="top_panel_top_ophone icon-call-out">
                                +1 (623) 887-5313
                            </div>
                            <div class="top_panel_top_user_area cart_show">
                                <div class="menu_pushy_wrap">
                                    <a class="menu_pushy_button icon-1460034782_menu2" href="#"></a>
                                </div>


                                <ul class="menu_user_nav" id="menu_user">
                                    <li class="menu_user_register_login" style="margin-right: 5px;">
                                        <!-- <a href="#"></a">Login</a> or <a href="#">Register</a> -->

                                        <a href=<%=user_dashboard_login %>></a">Login</a> or <a href=<%=user_register
                                            %>>Register</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="top_panel_middle scheme_original">
                        <div class="content_wrap">
                            <div class="contact_logo">
                                <div class="logo">
                                    <a href="/"><img alt="" class="logo_main" width="134px"
                                            style="height: 37px; padding: 5px; background: white; border-radius: 7px;"
                                            src="images/payfoxtrade.jpg"> <img alt="" class="logo_fixed"
                                            src="images/payfoxtrade.jpg"></a>
                                </div>
                            </div>
                            <div class="menu_main_wrap">
                                <nav class="menu_main_nav_area menu_hover_fade">
                                    <ul class="menu_main_nav" id="menu_main">
                                        <li class="menu-item">
                                            <a href="/"><span>Home</span></a>
                                        </li>

                                        <li class="menu-item current-menu-ancestor current-menu-parent">
                                            <a href="about"><span>About Us</span></a>
                                        </li>
                                        <li class="menu-item menu-item-has-children">
                                            <a href="#"><span>Services</span></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="services"><span>Our Services</span></a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="privacy"><span>Privacy and Policy</span></a>
                                                </li>
                                                <li class="menu-item">

                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                        <li class="menu-item">
                                            <a href="privacy"><span>Terms and Conditions</span></a>
                                        </li>
                                        <li>
                                        <!-- <li class="menu-item">
                                            <a href="contact"><span>Contact</span></a>
                                        </li> -->
                                    </ul>
                                </nav>
                                <div
                                    class="search_wrap search_style_fullscreen search_state_closed top_panel_el top_panel_icon">
                                    <div class="search_form_wrap">
                                        <form action="#" class="search_form" method="get">
                                            <button class="search_submit icon-search-light" type="submit"></button>
                                            <input class="search_field" name="s" placeholder="Search" type="text"
                                                value="">
                                            <a class="search_close icon-1460034721_close"></a>
                                        </form>
                                    </div>
                                </div>
                                <div class="top_panel_top_socials top_panel_el">
                                    <div
                                        class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_tiny">
                                        <div class="sc_socials_item">
                                            <a class="social_icons social_facebook" href="#" target="_blank"><span
                                                    class="icon-facebook"></span></a>
                                        </div>
                                        <div class="sc_socials_item">
                                            <a class="social_icons social_twitter" href="#" target="_blank"><span
                                                    class="icon-twitter"></span></a>
                                        </div>
                                        <div class="sc_socials_item">
                                            <a class="social_icons social_gplus" href="#" target="_blank"><span
                                                    class="icon-gplus"></span></a>
                                        </div>
                                        <div class="sc_socials_item">
                                            <a class="social_icons social_linkedin" href="#" target="_blank"><span
                                                    class="icon-linkedin"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <nav class="menu_pushy_nav_area pushy pushy-left scheme_dark">
                <div class="pushy_inner">
                    <a class="close-pushy" href="#"></a>
                    <div class="sidebar_outer widget_area scheme_dark">
                        <div class="sidebar_outer_inner widget_area_inner">
                            <div class="sidebar_outer_widgets">
                                <aside class="widget widget_socials">
                                    <h5 class="widget_title">About Us</h5>
                                    <div class="widget_inner">
                                        <div class="logo_descr">
                                            <p>Founded in 2018, PayfoxTrade has been a pioneer in providing
                                                crypto-financial services. It has helped to shape the crypto- and
                                                blockchain-ecosystem in Australia and has been a driving force in the
                                                development of the ‘Crypto Valley’ and ‘Crypto Nation Australia’.

                                                PayfoxTrade has become a market leader in prime brokerage, storage,
                                                lending, staking, tokenization, and other crypto-financial services
                                                catered to the needs of private, institutional, and corporate clients.
                                                We have build a team of over 70 highly-qualified experts at its
                                                locations in Melbourne, Tasmania, and Queensland. IG has played an
                                                important role in some of the most successful and influential projects
                                                in the crypto space. Board of Directors has long-term and ambitious
                                                vision. To realize these goals, We are building a team of highly
                                                talented people who share this vision and who are passionate about
                                                creating world-changing financial products and services.</p><br>
                                            <br>
                                            <ul class="sc_list sc_list_style_iconed custom_cl_1">
                                                <li class="sc_list_item"><span
                                                        class="sc_list_icon icon-location-light custom_cl_2"></span>7941
                                                    Henri-Bourassa West, Montreal Quebec H4S 1P7, Canada</li>
                                                <li class="sc_list_ite"><span
                                                        class="sc_list_icon icon-mobile-light custom_cl_2"></span>whatsapp:
                                                    +1 (623) 887-5313 </li>
                                                <li class="sc_list_item"><span
                                                        class="sc_list_icon icon-mail-light custom_cl_2"></span>Email:
                                                    <a href="mailto:payfoxtrade@gmail.com"
                                                        class="__cf_email__">payfoxtrade@gmail.com</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="site-overlay"></div>
            <div class="header_mobile header_mobile_style_7">
                <div class="content_wrap schema_dark">
                    <div class="menu_button icon-menu"></div>
                    <div class="logo">
                        <a href="/"><img alt="" class="logo_main" width="134px"
                                style="height: 37px; padding: 5px; background: white; border-radius: 7px;"
                                src="images/payfoxtrade.jpg"></a>
                    </div>
                </div>
                <div class="side_wrap">
                    <div class="close">
                        Close
                    </div>
                    <div class="panel_top">
                        <nav class="menu_main_nav_area">
                            <ul class="menu_main_nav" id="menu_mobile">
                                <li class="menu-item">
                                    <a href="/"><span>Home</span></a>
                                </li>

                                <li class="menu-item current-menu-ancestor current-menu-parent">
                                    <a href="about"><span>About Us</span></a>
                                </li>
                                <li class="menu-item menu-item-has-children">
                                    <a href="#"><span>Services</span></a>
                                    <ul class="sub-menu">
                                        <li class="menu-item">
                                            <a href="services"><span>Our Services</span></a>
                                        </li>
                                        <li class="menu-item">
                                            <a href="privacy"><span>Privacy and Policy</span></a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="privacy"><span>Terms and Conditions</span></a>
                                </li>
                                <!-- <li class="menu-item">
                                    <a href="contact"><span>Contact</span></a>
                                </li> -->
                            </ul>
                        </nav>
                        <div class="search_wrap search_state_fixed search_ajax">
                            <div class="search_form_wrap">
                                <form action="#" class="search_form" method="get">
                                    <button class="search_submit icon-search-light" type="submit"></button> <input
                                        class="search_field" name="s" placeholder="Search" type="text" value="">
                                </form>
                            </div>
                            <div class="search_results widget_area scheme_original">
                                <a class="search_results_close icon-cancel"></a>
                                <div class="search_results_content"></div>
                            </div>
                        </div>
                        <div class="login">

                            <a class="popup_link popup_login_link icon-user" href=<%=user_dashboard_login %>>Login</a>
                        </div>
                        <div class="login">
                            <a class="popup_link popup_register_link icon-pencil" href=<%=user_register %>>Register</a>
                        </div>
                    </div>
                    <div class="panel_middle">
                        <div class="contact_field contact_phone">
                            <span class="contact_icon icon-call-out"></span> <span
                                class="contact_label contact_phone">+1 (623) 887-5313 </span>
                        </div>
                        <div class="top_panel_top_open_hours icon-clock-light">
                            Mon - Fri : 09:00 - 17:00
                        </div>
                        <div class="top_panel_top_user_area cart_hide">
                            <div class="menu_pushy_wrap">
                                <a class="menu_pushy_button icon-1460034782_menu2" href="#"></a>
                            </div>
                        </div>
                    </div>
                    <div class="panel_bottom">
                        <div class="contact_socials">
                            <div class="sc_socials sc_socials_type_icons sc_socials_shape_square sc_socials_size_small">
                                <div class="sc_socials_item">
                                    <a class="social_icons social_facebook" href="#" target="_blank"><span
                                            class="icon-facebook"></span></a>
                                </div>
                                <div class="sc_socials_item">
                                    <a class="social_icons social_twitter" href="#" target="_blank"><span
                                            class="icon-twitter"></span></a>
                                </div>
                                <div class="sc_socials_item">
                                    <a class="social_icons social_gplus" href="#" target="_blank"><span
                                            class="icon-gplus"></span></a>
                                </div>
                                <div class="sc_socials_item">
                                    <a class="social_icons social_linkedin" href="#" target="_blank"><span
                                            class="icon-linkedin"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mask"></div>
            </div>