<%- include('header') -%>
    <section class="top_panel_image top_panel_image_1">
        <div class="top_panel_image_hover"></div>
        <div class="top_panel_image_header">
            <h1 class="top_panel_image_title">Our Services</h1>
            <div class="breadcrumbs">
                <a class="breadcrumbs_item home" href="/">Home</a> <span class="breadcrumbs_delimiter"></span> <span
                    class="breadcrumbs_item current">Our Services</span>
            </div>
        </div>
    </section>


    <div class="page_content_wrap page_paddings_no">
        <div class="sc_section">
            <div class="content_wrap">
                <div class="sc_empty_space" data-height="2em"></div>
                <div class="sc_services_wrap">
                    <div
                        class="sc_services sc_services_style_services-1 sc_services_type_icons_img margin_top_huge margin_bottom_huge">
                        <h2 class="sc_services_title sc_item_title">Our Main Services</h2>
                        <div class="sc_services_descr sc_item_descr">
                            Economic services provided by the finance industry, which encompasses a broad<br> range of
                            businesses that manage money, including credit unions.
                        </div>
                        <div class="sc_columns columns_wrap">
                            <div class="column-1_3 column_padding_bottom">
                                <div class="sc_services_item">
                                    <div class="top_post_image">
                                        <a href="#"><img alt="" class="services-post-image"
                                                src="images/service_01.png"></a>
                                    </div>
                                    <div class="sc_services_item_content">
                                        <h4 class="sc_services_item_title"><a href="#">Finance Consulting</a></h4><span
                                            class="sc_services_item_subtitle">Market-leading experience and
                                            services</span>
                                        <div class="sc_services_item_description">
                                            <p>The necessity for numerical ability in sales and trading has created jobs
                                                for scientists</p>
                                        </div>
                                        <div class="sc_services_item_decoration"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="column-1_3 column_padding_bottom">
                                <div class="sc_services_item">
                                    <div class="top_post_image">
                                        <a href="#"><img alt="" class="services-post-image"
                                                src="images/service_02.png"></a>
                                    </div>
                                    <div class="sc_services_item_content">
                                        <h4 class="sc_services_item_title"><a href="#">Financial Advisors</a></h4><span
                                            class="sc_services_item_subtitle">Market-leading experience and
                                            services</span>
                                        <div class="sc_services_item_description">
                                            <p>Their strategy often affects the way a company will operate in the
                                                market, its direction</p>
                                        </div>
                                        <div class="sc_services_item_decoration"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="column-1_3 column_padding_bottom">
                                <div class="sc_services_item">
                                    <div class="top_post_image">
                                        <a href="#"><img alt="" class="services-post-image"
                                                src="images/service_03.png"></a>
                                    </div>
                                    <div class="sc_services_item_content">
                                        <h4 class="sc_services_item_title"><a href="#">Sales &#038; Trading</a></h4>
                                        <span class="sc_services_item_subtitle">Market-leading experience and
                                            services</span>
                                        <div class="sc_services_item_description">
                                            <p>Activities that relate to the buying and selling of securities or other
                                                financial instruments</p>
                                        </div>
                                        <div class="sc_services_item_decoration"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.sc_services_wrap -->
        </div>
        <style>
            @media (max-width: 479px) {

                input.sc_button_size_large[type="submit"],
                input.sc_button_size_large[type="button"],
                button.sc_button_size_large,
                .sc_button.sc_button_size_large {
                    font-size: 1em;
                    padding: 0;
                }
            }
        </style>
        <div class="sc_section">
            <div class="columns_wrap sc_columns no_margins" data-equal-height=".sc_column_item_inner">
                <div class="column-1_2 sc_column_item text_align_center">
                    <div class="sc_column_item_inner" id="video_player"
                        style="background-image: url(https://images.unsplash.com/photo-1558401549-29b4893f4d9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=742&amp;q=80);">
                        <div class="sc_popup mfp-with-anim mfp-hide" id="video_go">
                            <div class="sc_video_player">
                                <div class="sc_video_frame" data-height="659" data-width="1170">
                                    <iframe class="video_frame" src="https://player.vimeo.com/video/147335033"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="sc_section extra_vertical_align aligncenter">
                            <div class="sc_section_inner">
                                <div class="sc_section_content_wrap">
                                    <a class="sc_button sc_button_style_icon sc_button_size_large sc_button_iconed sc_popup_link demo_go margin_bottom_tiny- icon-play"
                                        href="#video_go"></a>
                                    <div class="sc_services_wrap scheme_dark">
                                        <div
                                            class="sc_services sc_services_style_services-2 sc_services_type_icons margin_top_tiny-">
                                            <div class="sc_services_item">
                                                <div class="sc_services_item_featured post_featured"></div>
                                                <div class="sc_services_item_content">
                                                    <h4 class="sc_services_item_title">View Our Presentation Video</h4>
                                                    <span class="sc_services_item_subtitle">We Love Or Clients</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column-1_2 sc_column_item">
                    <div class="sc_column_item_inner custom_bg_2">
                        <div class="sc_section margin_top_huge margin_bottom_huge aligncenter"
                            data-animation="animated fadeIn normal">
                            <div class="sc_section_inner">
                                <div class="sc_section_content_wrap">
                                    <div class="sc_empty_space" data-height="3px"></div>
                                    <h2
                                        class="sc_title sc_title_regular text_align_center custom_cl_7 margin_top_medium margin_bottom_tiny-">
                                        We are always ahead</h2>
                                    <div class="sc_skills sc_skills_counter margin_top_tiny margin_bottom_medium"
                                        data-caption="Skills" data-type="counter">
                                        <h2 class="sc_skills_title sc_item_title">Proffesional solutions for your
                                            business.</h2>
                                        <div class="sc_skills_descr sc_item_descr">
                                            We provide premium customer support and offer affiliate programs.
                                        </div>
                                        <div class="columns_wrap sc_skills_columns">
                                            <div class="sc_skills_column column-1_3">
                                                <div class="sc_skills_item sc_skills_style_2">
                                                    <div class="sc_skills_count">
                                                        <div class="sc_skills_total" data-duration="1046" data-ed=""
                                                            data-max="856" data-speed="11" data-start="0" data-step="9"
                                                            data-stop="856">
                                                            0
                                                        </div>
                                                    </div>
                                                    <div class="sc_skills_info">
                                                        <div class="sc_skills_label">
                                                            Satisfied Clients
                                                        </div>
                                                    </div>
                                                    <div class="sc_skills_info_2">
                                                        <div class="sc_skills_label">
                                                            Market-leading experience
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sc_skills_column column-1_3">
                                                <div class="sc_skills_item sc_skills_style_2">
                                                    <div class="sc_skills_count">
                                                        <div class="sc_skills_total" data-duration="450" data-ed=""
                                                            data-max="856" data-speed="17" data-start="0" data-step="9"
                                                            data-stop="238">
                                                            0
                                                        </div>
                                                    </div>
                                                    <div class="sc_skills_info">
                                                        <div class="sc_skills_label">
                                                            Successful Investments
                                                        </div>
                                                    </div>
                                                    <div class="sc_skills_info_2">
                                                        <div class="sc_skills_label">
                                                            Market-leading experience
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sc_skills_column column-1_3">
                                                <div class="sc_skills_item sc_skills_style_2">
                                                    <div class="sc_skills_count">
                                                        <div class="sc_skills_total" data-duration="947" data-ed=""
                                                            data-max="856" data-speed="25" data-start="0" data-step="9"
                                                            data-stop="341">
                                                            0
                                                        </div>
                                                    </div>
                                                    <div class="sc_skills_info">
                                                        <div class="sc_skills_label">
                                                            Satisfied Clients
                                                        </div>
                                                    </div>
                                                    <div class="sc_skills_info_2">
                                                        <div class="sc_skills_label">
                                                            Market-leading experience
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sc_empty_space" data-height="3px"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sc_section custom_section_1">
            <div class="columns_wrap no_margins custom_bg_1">
                <div class="column-1_4">
                    <div class="sc_empty_space" data-height="35px"></div>
                    <div
                        class="sc_section margin_top_small margin_right_small margin_bottom_large margin_left_small aligncenter">
                        <div class="sc_section_inner">
                            <div class="sc_section_content_wrap">
                                <div class="sc_empty_space" data-height="0.5em"></div>
                                <figure class="sc_image sc_image_shape_square">
                                    <img alt="" src="images/colored_service_1.png">
                                </figure>
                                <div class="sc_empty_space" data-height="0.7em"></div>
                                <h4 class="sc_title sc_title_regular margin_top_tiny margin_bottom_tiny">Investment
                                    Banking</h4>
                                <h6 class="sc_custom_heading style_1 custom_cl_5">Strategy, Initail Publiuc Offerings
                                </h6><span class="custom_cl_6">We help individuals, organizations and government
                                    agencies make the best investment decisions.</span>
                                <div class="sc_empty_space" data-height="1.1em"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column-1_4 custom_bg_3">
                    <div class="sc_empty_space" data-height="35px"></div>
                    <div
                        class="sc_section margin_top_small margin_right_small margin_bottom_large margin_left_small aligncenter">
                        <div class="sc_section_inner">
                            <div class="sc_section_content_wrap">
                                <div class="sc_empty_space" data-height="0.5em"></div>
                                <figure class="sc_image sc_image_shape_square">
                                    <img alt="" src="images/colored_service_2.png">
                                </figure>
                                <div class="sc_empty_space" data-height="0.7em"></div>
                                <h4 class="sc_title sc_title_regular margin_top_tiny margin_bottom_tiny custom_cl_4">
                                    Sales &amp; Trading</h4>
                                <h6 class="sc_custom_heading style_1 custom_cl_4">Dcipline and Commitment</h6><span
                                    class="custom_cl_4">Hands off. We can do it for you. If you are not sure which way
                                    to go, allow us to do it.</span>
                                <div class="sc_empty_space" data-height="1.1em"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column-1_4 custom_bg_4">
                    <div class="sc_empty_space" data-height="35px"></div>
                    <div
                        class="sc_section margin_top_small margin_right_small margin_bottom_large margin_left_small aligncenter">
                        <div class="sc_section_inner">
                            <div class="sc_section_content_wrap">
                                <div class="sc_empty_space" data-height="0.5em"></div>
                                <figure class="sc_image sc_image_shape_square">
                                    <img alt="" src="images/colored_service_3.png">
                                </figure>
                                <div class="sc_empty_space" data-height="0.7em"></div>
                                <h4 class="sc_title sc_title_regular margin_top_tiny margin_bottom_tiny custom_cl_4">
                                    Investment Management</h4>
                                <h6 class="sc_custom_heading style_1 custom_cl_5">Trading Portfolio</h6>
                                <span class="custom_cl_6">We handle financial assets and trade portfolio while helping
                                    you execute a long term strategy.</span>
                                <div class="sc_empty_space" data-height="1.1em"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column-1_4 custom_bg_5">
                    <div class="sc_empty_space" data-height="35px"></div>
                    <div
                        class="sc_section margin_top_small margin_right_small margin_bottom_large margin_left_small aligncenter">
                        <div class="sc_section_inner">
                            <div class="sc_section_content_wrap">
                                <div class="sc_empty_space" data-height="0.5em"></div>
                                <figure class="sc_image sc_image_shape_square">
                                    <img alt="" src="images/colored_service_4.png">
                                </figure>
                                <div class="sc_empty_space" data-height="0.7em"></div>
                                <h4 class="sc_title sc_title_regular margin_top_tiny margin_bottom_tiny custom_cl_4">
                                    Market Research</h4>
                                <h6 class="sc_custom_heading style_1 custom_cl_5">Research and Techniques</h6><span
                                    class="custom_cl_6">Our market analysis is a product of combined research techniques
                                    and a comprehensive approach.</span>
                                <div class="sc_empty_space" data-height="1.1em"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sc_section">
            <div class="content_wrap">
                <div class="sc_empty_space" data-height="2.4em"></div>
                <div class="sc_testimonials sc_testimonials_style_testimonials-1 margin_top_huge margin_bottom_huge">
                    <h2 class="sc_testimonials_title sc_item_title">Testimonials</h2>
                    <div class="sc_testimonials_descr sc_item_descr">
                        Testimonials from customers who are satisfied with services that have been effectively used<br>
                        in marketing for as long as marketing exists.
                    </div>
                    <div class="sc_slider_swiper swiper-slider-container sc_slider_pagination sc_slider_pagination_bottom sc_slider_nocontrols"
                        data-interval="8522" data-slides-min-width="250">
                        <div class="slides swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="sc_testimonial_item">
                                    <div class="sc_testimonial_avatar"><img alt="" src="images/80X80.png"></div>
                                    <div class="sc_testimonial_content">
                                        <p>Being a company's director requires maximum attention and devotion. This was
                                            exactly what I felt when turned to your products and services. All our
                                            questions and inquiries were answered effectively and right
                                            away. Our website has never looked better, ever. Thank you.</p>
                                    </div>
                                    <div class="sc_testimonial_author">
                                        <span class="sc_testimonial_author_name">Lisa Larson</span><span
                                            class="sc_testimonial_author_position">Company Director</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="sc_testimonial_item">
                                    <div class="sc_testimonial_avatar"><img alt="" src="images/80X80X2.png">
                                    </div>
                                    <div class="sc_testimonial_content">
                                        <p>You never know what is gooing to happen until you try. But let me tell you
                                            that taking risk with these guys was totally worth it. Now we are a regular
                                            client, and this was probably the best decision we ever
                                            made! Our company appreciates your assistance and great work!</p>
                                    </div>
                                    <div class="sc_testimonial_author">
                                        <span class="sc_testimonial_author_name">James Watson</span><span
                                            class="sc_testimonial_author_position">Senior Manager</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="sc_testimonial_item">
                                    <div class="sc_testimonial_avatar"><img alt="" src="images/80X80X3.png">
                                    </div>
                                    <div class="sc_testimonial_content">
                                        <p>Highly recommend these guys to everyone who is in search of fresh ideas,
                                            quality products and excellent customer support. You will be able to find
                                            what you need and more right here with no hassle. Thanks
                                            for your time and efford toward our project. We will stay in touch!</p>
                                    </div>
                                    <div class="sc_testimonial_author">
                                        <span class="sc_testimonial_author_name">Chris Doe</span><span
                                            class="sc_testimonial_author_position">Startup SEO</span>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="sc_testimonial_item">
                                    <div class="sc_testimonial_avatar"><img alt="" src="images/80X80X4.png">
                                    </div>
                                    <div class="sc_testimonial_content">
                                        <p>I enjoyed working with you guys very much! No matter what issues or questions
                                            popped up, you were always there to assist. I appreciate your service,
                                            quality products and professional approach in every aspect.
                                            Keep up the excellent job and let us know what comes next!</p>
                                    </div>
                                    <div class="sc_testimonial_author">
                                        <span class="sc_testimonial_author_name">Susan Smith</span><span
                                            class="sc_testimonial_author_position">Handmade Designer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sc_slider_controls_wrap">
                            <a class="sc_slider_prev" href="#"></a>
                            <a class="sc_slider_next" href="#"></a>
                        </div>
                        <div class="sc_slider_pagination_wrap"></div>
                    </div>
                </div>
                <div class="sc_empty_space" data-height="2.6em"></div>
            </div>
        </div>

        <%- include('footer') -%>